<body>
  <div class="container">
    
    <div class="form__top">
        <h2>Formulario de Registro</h2>
      </div>
    <form class="form__reg" action="">
  
  
  <div class="form-group">
    <label for="nombre">nombre:</label>
    <input type="text" class="form-control is-valid" id="nom" required>
  </div> 
  
  <div class="form-group">
      <label for="apellido">apellido:</label>
      <input type="text" class="form-control is-valid" id="apell" required>
    </div> 
    <div class="form-group">
        <label for="cedula">cedula:</label>
        <input type="number" class="form-control is-valid" id="usr" required>
      </div>
  
    <div class="form-group">
        <label for="Direccion">Direccion:</label>
        <input type="text" class="form-control is-valid" id="dir" required>
      </div> 
  
      <div class="form-group">
          <label for="telefono">telefono:</label>
          <input type="number" class="form-control is-valid" id="telefono" required>
        </div> 
  
        <div class="form-group">
            <label >Fecha de Nacimiento</label>
            <input type="date" name="bday" min="1000-01-01"  max="3000-12-31" class="form-control" required>
           </div>
  
        <div class="form-group">
            <label for="ciudad">ciudad:</label>
            <input type="text" class="form-control is-valid" id="ciudad" required>
          </div> 
  
          
        <div class="form-group">
            <label for="apodo">apodo:</label>
            <input type="text" class="form-control is-valid" id="apodo" required>
          </div> 
  
          <div class="form-group">
              <label for="exampleFormControlFile1">Agregar Foto</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
  
          
        <div class="form-group">
            <label for="correo">correo:</label>
            <input type="email" class="form-control is-valid" id="correo" required>
          </div> 
          <div class="form-group">
              <label for="psw">contraseña:</label>
              <input type="password" class="form-control is-valid" id="psw" required>
              <small id="passwordHelpInline" class="text-muted">
                  Debe tener entre 8 y 15 caracteres.
                </small>
            </div> 
            <div class="form-group">
                <label for="correo">Repetir Contraseña:</label>
                <input type="password" class="form-control is-valid" id="correo" required>
              </div> 
                
              <button type="submit" class="btn btn-primary btn-lg">Registrarme</button>
  
  
              </form>
            </div>
  </body>
  