   
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="/src/app/components/home/home.component.html">
    <img src="../assets/logo.png" width="60" height="60" class="d-inline-block align-top" alt="">
    LEASEBOOK
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item routerLinkActive=active">
            <a class="nav-link" routerLink="/home" style="color: white;">home</a>
          </li>
          

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="Servicios"style="color: white;" id="Servicios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Servicios
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="Servicios">Alquiler Libro</a>
                <a class="dropdown-item" routerLink="/registro">Registrarme</a>
                <a class="dropdown-item" routerLink="/login">Iniciar Sesión</a>
              </div>
            </li>
  
      <li class="nav-item routerLinkActive=active">
        <a class="nav-link" [routerLink]="['Acerca']" style="color: white;">Acerca</a>
      </li>
      <li class="nav-item routerLinkActive=active">
        <a class="nav-link" [routerLink]="['publicar']" style="color: white;">publicar</a>
      </li>
      
              
      
      <li class="nav-item routerLinkActive=active">
  <a class="nav-link" routerLink="/loggeado"style="color: white;">loggeado</a>
</li>


        
      
      </ul>
      <ul class="navbar-nav ">
      <form class="form-inline  ">
        <li class="nav-item routerLinkActive=active">
    <a class="nav-link" routerLink="login" style="color: white;" >Iniciar Sesion</a>
  </li>
  <li class="nav-item routerLinkActive=active">
      <a class="nav-link" routerLink="/registro"style="color: white;">Registrarme</a>
    </li>
    <li class="nav-item routerLinkActive=active">
        <a class="nav-link" routerLink="/mybooks"style="color: white;">Mis Libros</a>
      </li>
</form>
</ul>
  </div>
</nav>



