<body>
  <div class="container">
    
    <div class="form__top">
        <h2>Publicar Libro</h2>
      </div>
    <form class="form__reg" #FormPublication="ngForm" (ngSubmit) = "register()" action="">
  <div class="form-group">
    <label for="nombre">nombre:</label>
    <input ngModel="name" type="text" class="form-control" id="name">
  </div>
  
  <div class="form-group">
    <label for="descripción">descripción:</label>
    <input type="text" ngModel="description" class="form-control" id="description">
  </div> 
  
  <div class="form-group">
      <label for="Sinopsis">Sinopsis:</label>
      <input type="text" ngModel="synopsis" class="form-control" id="synopsis">
    </div> 
    <div class="form-group">
        <label >Fecha de Publicación</label>
        <input type="date" ngModel="publication_date" name="publication_date" min="1000-01-01"  max="3000-12-31" class="form-control" required>
       </div>

    <div class="form-group">
      <label for="exampleFormControlFile1">Agregar Foto</label>
      <input type="file" ngModel="add_photo" class="form-control-file" id="add_photo">
    </div>
  
    <div class="form-group">
        <label for="Autor">Autor:</label>
        <input type="text" ngModel="autor" class="form-control" id="autor">
      </div> 
    
      <div class="form-group ">
          <label for="inputState">Genero</label>
          <select id="genre" ngModel="genre" class="form-control">
              <option>Seleccione un Genero</option>
              <option>Comedia</option>
              <option>suspenso</option>
              <option>drama</option>
              <option>Acción</option>
          </select>
        </div>
  

                
              <button type="button" class="btn btn-primary btn-lg">Publicar Mi Libro</button>
  
  
              </form>
            </div>
  </body>