<app-header></app-header>
<div class="container">
<h2>
    <div class="contenedorBene">
      <span>ACERCA DE NOSOTROS</span>
    </div>
  </h2>
 
  <div class="row">
    <div class="col-sm">
      <img class="foto" src="../assets/lectura.png"  />
      <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</h5>
    </div>
    <div class="col-sm">
      <img class="foto" src="../assets/lupa.png"  width="200" height="200"/>
      <h5>Buscar el libro que necesitas de una forma más facil y en solo lugar</h5>
    </div>
    <div class="w-100"></div>
    <div class="col-sm">
      <img class="foto" src="../assets/bene1.png"  width="270" height="200"/>
         <h5>Adqurir libros de forma facil y en buenas condiciones</h5>
    </div>
    <div class="col-sm">
      <img class="foto" src="../assets/grupoLec.jpg"  width="270" height="200"/>
         <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
           when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
           It has survived not only five centuries, but also the leap into electronic typesetting, 
           remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
           and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</h5>
    </div>
 </div>
</div>