<h5>
  MIS LIBROS
</h5>
<div class="card-deck">
    <div class="card">
      <img src="../assets/cienAños.jpg" width="50" height="200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">100 Años de Soledad</h5>
        <p class="card-text">sinopsis</p>
        <button type="button" class="btn btn-primary">Comentarios</button>
        <button type="button" class="btn btn-success">100 likes</button>
        <button type="button" class="btn btn-danger">5 dislikes</button>
        <button type="button" class="btn btn-warning" style="width: 270px;">Ver libro</button>
      </div>
    </div>
    <div class="card">
      <img src="../assets/elcondor.jpg" width="50" height="200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">El condor de la pluma durada</h5>
        <p class="card-text">sinopsis</p>
        <button type="button" class="btn btn-success">100 likes</button>
        <button type="button" class="btn btn-danger">5 dislikes</button>
        <button type="button" class="btn btn-primary">Comentarios</button>
        <button type="button" class="btn btn-warning" style="width: 270px;">Ver libro</button>
      </div>
    </div>
    <div class="card">
      <img src="../assets/elLibroDeLosErrores.jpg" width="50" height="200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">El Libro De Los Errores</h5>
        <p class="card-text">Sinopsis</p>
        <button type="button" class="btn btn-success">100 likes</button>
        <button type="button" class="btn btn-danger">5 dislikes</button>
        <button type="button" class="btn btn-primary">Comentarios</button>
        <button type="button" class="btn btn-warning" style="width: 270px;">Ver libro</button>
      </div>
    </div>
      </div>
  
  <div class="card-deck">
      <div class="card">
        <img src="../assets/cienAños.jpg" width="50" height="200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">100 Años de Soledad</h5>
          <p class="card-text">sinopsis</p>
          <button type="button" class="btn btn-success">100 likes</button>
          <button type="button" class="btn btn-danger">5 dislikes</button>
          <button type="button" class="btn btn-primary">Comentarios</button>
          <button type="button" class="btn btn-warning" style="width: 270px;">Ver libro</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/elcondor.jpg" width="50" height="200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">El condor de la pluma durada</h5>
          <p class="card-text">sinopsis</p>
          <button type="button" class="btn btn-success">100 likes</button>
          <button type="button" class="btn btn-danger">5 dislikes</button>
          <button type="button" class="btn btn-primary">Comentarios</button>
          <button type="button" class="btn btn-warning" style="width: 270px;">Ver libro</button>
        </div>
      </div>
      <div class="card">
        <img src="../assets/elLibroDeLosErrores.jpg" width="50" height="200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">El Libro De Los Errores</h5>
          <p class="card-text">Sinopsis</p>
          <button type="button" class="btn btn-success">100 likes</button>
          <button type="button" class="btn btn-danger">5 dislikes</button>
          <button type="button" class="btn btn-primary">Comentarios</button>
          <button type="button" class="btn btn-warning" style="width: 270px;">Ver libro</button>
        </div>
      </div>
      
    </div>
