
<!--<body>
  <div class="container">
    
      <div class="form__top">
          <h2>INICIO DE SESIÓN</h2>
        </div>
      <form class="form__reg" action="">
  <div class="form-group">
      <label for="cedula">Usuario:</label>
      <input type="text" class="form-control is-valid" id="user" required>
    </div>
   
  
            <div class="form-group">
                <label for="psw">contraseña:</label>
                <input type="password" class="form-control is-valid" id="psw" required>
              </div> 
              
                  
                <button type="submit" class="btn btn-primary btn-lg">Iniciar Sesion</button>
  
  
                </form>
              </div>
            </body>-->

      
<app-header></app-header>
            <!DOCTYPE html>
            <html>
            <head>
              <title>Login Page</title>
              
            </head>
            <body>
            <div class="container">
              <div class="d-flex justify-content-center h-100">
                <div class="card">
                  <div class="card-header">
                    <h3>Recuperar Contraseña</h3>
                    <div class="d-flex justify-content-end social_icon">
                      <span><i class="fab fa-facebook-square"></i></span>
                      <span><i class="fab fa-google-plus-square"></i></span>
                      <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Correo Registrado">
                        
                      </div>
                      
                     
                      <div class="form-group">
                        <input type="submit" value="Enviar Correo" class="btn float-right login_btn">
                      </div>
                    </form>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                      No tienes una cuenta?<a routerLink="/registro">Registrate</a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            </body>
            </html>
                      